<div class="row">
  <div class="col-md-12">
    <center>
      <div class="welcome-name">
      Mass Organizer
    </div>
    <div class="welcome-call-div">
      <%= link_to 'Get Started', new_organization_path, :class=>"btn welcome-call btn-primary" %>
    </div>
    </center>
  </div>
</div>

<div class="row">

  <div class="col-md-8">
  <h2>Leading is hard, we make it easy.</h2>
  <p>Mass Organizer is a texting service that let's leaders of large organizations form the most complete mailing lists possible in moments. It's as easy as having your members text their name to a number.</p>

  </div>
  <div class="col-md-4">
    <h2><small>Demo</small></h2>
    <center>
    <%= image_tag "/example-1.png", :class=>"img img-responsive" %>
  </center>
  </div>
</div>
